/*синий  #2196F3; */
/* цвет заголовков #212121;  */
/* вторичный цвет текста #757575; */
/* белый для Н1 #FFFFFF; */
/* черный для лого #000000; */
/* для футера color: rgba(255, 255, 255, 0.6); */
:root {
    --main-text-color: #757575;
    --accent-text-color: #2196F3;
    --background-color-hero: #2F303A;
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
    background-color: #ffffff;
    color: #757575;
    font-family: 'Roboto',
    sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* обнуляет оформление для ul */
ul {
    list-style: none;
}
                /* Header */
/* Лого  */
.blue-logo {
    color: var(--accent-text-color);
}
.logo {
    color: var(--black-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/* Навигация */
.site-nav a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-text-color);
}

/* Контакты */
.contacts a {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-text-color);
}

/* секция Hero */

.hero {
    background-color: var(--background-color-hero);
}
.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}
.hero-button {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


}

/* наши преимущества */

/* типа "скрыл" логический заголовок */
.advantages-title {
    position: absolute;
    visibility: hidden;
}
.advantages-list h3 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-list p {
line-height: 24px;
letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

}